@import "src/style/font.scss";

.header {
  width: 100%;
  background: no-repeat;
  background-size: 100%;
  font-family: 'Cinzel Decorative', cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .title {

  }
}

